# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Sample Hub Website
email: arghanil@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
repo:
  url: "https://github.com/arghanil/sample-hub-website.git"

url: "http://hub.platform.r53.domain.net" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "" # the subpath of your site, e.g. /blog

#paginate: 5 # amount of posts to show
#paginate_path: /page:num/

# Build settings
markdown: kramdown
theme: minimal-mistakes-jekyll

plugins:
 - jekyll-paginate
 - jekyll-sitemap
 - jekyll-gist
 - jekyll-feed
 - jemoji

# Defaults
defaults:
# _pages
- scope:
    path: "_pages"
    type: pages
  values:
    layout: single
# _docs
- scope:
    path: ""
    type: docs
  values:
    layout: single
    sidebar:
      nav: "docs"
# _posts
- scope:
    path: ""
    type: posts
  values:
    layout: single
    read_time: true
    related: true
    author_profile: true

# Collections
collections:
  docs:
    output: true
    permalink: /:collection/:path/
  posts:
    output: true
    permalink: /posts/:name.html

include:
- _pages
exclude:
- BUILD
- WORKSPACE
- README.md
- Gemfile
- Gemfile.lock
- bazel/
- kubernetes/

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
